* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
}
body {
  background-color: #e9ebfc;
  min-height: 100vh;
  width: 100%;
  transition: 0.5s;
}
body .navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #cbcedf;
  padding: 0 30px;
  margin-bottom: 20px;
}
body .navbar-nav .logo {
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #585858;
}
body .navbar-nav ul {
  display: flex;
  gap: 15px;
  align-items: center;
}
body .navbar-nav ul li {
  cursor: pointer;
  font-size: 24px;
  color: #585858;
  text-transform: capitalize;
}
body .navbar-nav ul .toggle_li {
  margin-left: 25px;
}
body .navbar-nav ul .toggle_li i {
  font-size: 30px;
}
body .content {
  padding: 10px;
  max-width: 90%;
  margin: auto;
  background-color: #cbcedf;
  border-radius: 8px;
  margin-bottom: 20px;
}
body .content p {
  font-weight: 500;
  font-size: 20px;
  color: #585858;
}
body.dark {
  background-color: #444444;
  transition: 0.5s;
}
body.dark .navbar-nav {
  background-color: #2c2a2a;
}
body.dark .navbar-nav .logo {
  color: #cbcedf;
}
body.dark .navbar-nav ul li {
  color: #cbcedf;
}
body.dark .content {
  background-color: #2c2c2a;
}
body.dark .content p {
  color: #cbcedf;
}
